th {
  background-color: #eaeef0;
  padding: 10px 0;
  padding-left: 10px;
  font-weight: 400;
  font-size: 14px;
}

td {
  background-color: #fff;
  border-bottom: 1px solid #cccfd4;
  padding: 30px 0;
  padding-left: 10px;
  
}